.navbar {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo i {
    color: var(--cyan);
    text-shadow: 0 0 10px var(--cyan);
}
